.foot {
  border-top: 5px solid #000000;
  width: 100%;
  padding: 0;
  background-color: #f8fafc;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-logo {
  height: 100px;  
  margin-bottom: 0px;
}

.foot > p {
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  color: #000000;
}
