.login-container {
  min-height: 85vh;
}

.login-card {
  width:400px;
  background: linear-gradient(135deg, #020617, #0f172a);
  padding: 40px;
  border-radius: 18px;
  box-shadow: 0 10px 35px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease;
}

.login-card:hover {
  transform: translateY(-6px);
}

.login-card>.login-title {
  font-weight: 700;
  margin-bottom: 25px;
  text-align: center;
  color: #e0f2fe;
}

.login-card> .form-control {
  background: #020617;
  color: white;
  border: 1px solid #334155;
}

.login-card>.form-control::placeholder {
  color: #94a3b8;
}
